In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([[165,137,472,192],[101,92,250,144],[29,127,201,91]],columns=['R&D','Ops','Marketing','Profit'])

In [3]:
df['f0(x)'] = df['Profit'].mean()
df

   R&D  Ops  Marketing  Profit       f0(x)
0  165  137        472     192  142.333333
1  101   92        250     144  142.333333
2   29  127        201      91  142.333333